

.interactiveMsg {
   width: 340px;
   height: calc(100% - 349px);
   padding-top: 20px;

   .title {
     font-size: 16px;
     color: #FFFFFF;
     line-height: 25px;
   }
   .content {
      width: 100%;
      height: calc(100% - 25px);
   }
 
   .contentBody {
      width: 100%;
      height: 100%;
      padding: 15px 22px;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 10px;
   }
}