@import "~antd/dist/antd.css";

html,
body,
#app {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        from(#362426),
        to(#222222)
      );
}

#app {
  position: relative;
  padding-top: 70px;
}
.ant-modal-content > .ant-modal-footer {
  border-top: transparent;
}
.ant-slider-disabled > .ant-slider-rail{
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.ant-dropdown-menu {
  background-color: #2B2B2C;
  .ant-dropdown-menu-item {
    color: #D8D8D9;
    font-size: 14px;
  }
  .ant-dropdown-menu-item-active {
    background-color: rgba(255, 255, 255, 0.06);
  }
}


.inputPhoneOptionBox {
   width: 225px !important;
   padding: 8px 12px;
   background: #FFFFFF;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.31);
   border-radius: 10px;

   .ant-select-item {
      margin-bottom: 2px;
      border-radius: 10px;

      &.ant-select-item-option-selected {
         background-color: #F8F9FD;
         span {
            font-weight: 400;
            color: #F9535C;
         }
      }
   }
}


.defaultConfirm {
   .ant-modal {
      width: 669px !important;
      height: 257px;
      background: #222222;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
      border-radius: 10px;
      border: 1px solid #979797;
      overflow: hidden;
   }
   .ant-modal-close {
      color: #fff;
   }

   .ant-modal-content {
      width: 100%;
      height: 100%;
      background: #222222;
   }
   .ant-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 69px 89px;
      background: #222222;

    
      .confirm-content {
         margin-left: 0;
         margin-top: 0;
         font-size: 16px;
         color: #FFFFFF;
         line-height: 22px;
         text-align: center;
      }

      .confirm-btns {
         display: flex;
         justify-content: space-between;
         margin-top: 0;
         height: 50px;

         &.single-btn {
            justify-content: center;
         }

         .confirm-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 209px;
            height: 50px;
            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF;
            background: #585858;
            border-radius: 25px;
            border: none;
            cursor: pointer;

            &.btn-default {
               background: #E53156;
            }
         }
      }
   }

   .ant-modal-footer {
      display: none;
   }
}